@font-face {
    font-family: tangerine;
    src: url(../media/Tangerine-Regular.ttf);
  }

  @font-face {
    font-family: tangerine-bold;
    src: url(../media/Tangerine-Bold.ttf);
  }
  
  

div,nav {
    border: 1px solid black;
}
#titel {
    position: relative;
    bottom: 25%;
    text-align: center;
    font-family: tangerine;
    font-size: 120px;
    letter-spacing: 5px;
}
#header {
    height: 200px;
}
a {
    float: left;
    margin-right: 32px;

}