@font-face {
    font-family: vollkorn-semibold;
    src: url(../media/Vollkorn-SemiBold.ttf);
}


/* div {
    border: 1px solid black;
} */

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f1f4f9;
    padding-bottom: 30px;
}

#main {
    max-width: 1600px;
    height: fit-content;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left {
    width: 49.5%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#right {
    width: 49.5%;
    margin: 27px;
    background-image: url(../media/tekstbg.png);
    height: 720px;
    position: relative;
}

article {
    overflow: hidden;
    width: 330px;
    height: 330px;
    margin: 20px;
    display: flex;
    position: relative;
    cursor: pointer;
}

article img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 330px;
    height: 330px;
    object-fit: cover;
    object-position: center center;
}

#infoTekst {
    font-family: vollkorn-semibold;
    font-size: 32px;
    margin: 3%;
    color: white;
}

#foto1 {
    background-size: cover;
    background-position: center;
}

article .title {
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

article:hover .title {
    opacity: 1;
    transition: 0.2s;
}

article:hover img {
    filter: blur(2px) brightness(0.85);
    transition: 0.4s;

}

#briuoat {
    width: 200px;
}

#more {
    width: 230px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    float: right;
    right: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 0.3s;
    border: none;
}


#more:hover {
    background-color: rgb(42, 42, 129);
    cursor: pointer;
    color: white;
}
.productNaam {
    font-size: 48px;
    padding: 0px 20px 0px 20px;
    font-family: vollkorn-semibold;
}

/* footer */

#footerLinks {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: #95C7F9;
    color: white;
    max-width: 780px;
    width: 100%;
}

#footerRechts {
    display: flex;
    background-color: #E8E6E3;
    color: rgb(59, 57, 57);
    flex-direction: column;
    max-width: calc(780px - 2%);
    padding-left: 2%;
    width: 100%;
}
contact-items {
    display: flex;
    gap: 30px;
}

#footer {
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: #f1f4f9;
    font-family: volkorn-semibold;
}

#contact {
    font-family: volkorn-semibold;
}